* {
    margin: 0;
    padding: 0;
}

body {
    background: silver;
}

.jumbotron {
    width: 100%;
    height: 5em;
    margin-top: -2em;
    box-sizing: border-box;
    position: fixed;
    top: 2em;
    z-index: 999;
}

.sub-jumbotron {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 6em;
    border-radius: .2em;
    background: #0066FF;
    border: .2em solid white;
    border-top: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.sub-jumbotron .button-back {
    padding: .5em 0 0 .5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.button-back p {
    font-weight: bold;
    font-size: .9em;
    margin: -.1em 0 0 .2em;
}

.sub-jumbotron .surah {
    margin: auto;
}

.sub-jumbotron .surah p {
    padding-bottom: .2em;
    border-radius: .2em;
    border-bottom: .2em solid white;
}

.sub-jumbotron .desc {
    position: relative;
    bottom: -1.2em;
}

.sub-jumbotron aside {
    display: flex;
    justify-content: center;
}

.sub-jumbotron .desc p {
    background: #0066FF;
    border: .2em solid white;
    border-radius: .2em;
    padding: .3em 3em;
    margin: 0 2em;
    text-transform: capitalize;  
}

.audio {
    text-align: center;
}

audio {
    width: 46%;
}

section {
width: 70%;
background: white;
display: flex;
justify-content: space-between;
align-items: center;
margin: .8em auto;
padding: 2em 1em;
border-radius: .2em;
box-shadow: .1em .1em .2em black;
box-sizing: border-box;
position: relative;
}

section:hover {
background: rgb(233, 233, 233);
}

#allSurah {
    cursor: pointer;
}

.surah-lists {
    margin-top: 4em;
}

.info-surah {
width: 20em;
display: flex;
justify-content: flex-start;
align-items: center;
box-sizing: border-box;
}

section .asma {
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;
    text-align: right;
}

.info-surah .nomor,
.surah-item .nomor {
background: rgb(61, 61, 61);
color: white;
width: 2em;
height: 2em;
line-height: 2em;
text-align: center;
border-radius: 50%;
box-sizing: border-box;
position: absolute;
top: 1em;
left: 1em;
}

.info-surah .nomor {
    width: 2em;
    height: 2em;
    line-height: 2em;
    top: 2.2em;
}

.info-surah .describe {
    margin-left: .6em;
    text-transform: capitalize;  
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2em;
}

.describe h5 {
font-size: 1.2em;
}

.describe p {
margin-top: .2em;
font-size: .7em;
}


/* surah items */
.surah-item {
    display: flex;
    flex-direction: column;
}

.surah-item .desc-asma {
    width: 100%;
    display: flex;
    padding-left: 4em;
    justify-content: flex-end;
    box-sizing: border-box;
}

.desc-asma h5 {
    margin-right: 5em;
}

.desc-asma .ar {
    text-align: right;
    line-height: 1.5em;
    font-size: 2em;
}

.surah-item .translate {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.translate p {
    line-height: 1.8em;
    text-align: left;
    font-size: .9em;
    font-family: Arial, Helvetica, sans-serif;
}


.translate .asma {
    font-style: italic;
    color: rgb(68, 68, 1);
    
}

footer {
    width: 100%;
}

/* surah items */
@media screen and (max-width: 576px) {
    section {
        width: 90%;
    }

    .desc-asma .ar {
        font-size: 1.5em;
    }

    .sub-jumbotron .desc p {
        padding: .3em 1em;
        margin: 0 .5em;
    }

    audio {
        width: 90%;
    }
}